@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}






/* third-party */
/* @import '~react-perfect-scrollbar/dist/css/styles.css'; */
/* @import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css'; */ 
@import 'tailwindcss/base';
@import 'tailwindcss/components'; 
@import 'tailwindcss/utilities'; 


/* @import '~react-18-image-lightbox/style.css'; */

/* ==============================|| LIGHT BOX ||============================== */

.fullscreen .react-images__blanket {
  z-index: 1200;
  color: #060a848f;
}

/* ==============================|| APEXCHART ||============================== */
.confeti{
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  z-index: 0
}
.check{
  z-index: 1;
}
.apexcharts-legend-series .apexcharts-legend-marker {
  left: -4px !important;
  right: -4px !important;
}

.apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series,
.apexcharts-legend.apx-legend-position-top .apexcharts-legend-series {
  gap: 8px;
}
.apexcharts-legend-series {
  display: flex;
  gap: 8px;
}

html[dir='rtl'] .apexcharts-tooltip .apexcharts-tooltip-marker {
  margin-left: 10px;
  margin-right: 0px;
}

/* ==============================|| PERFECT SCROLLBAR ||============================== */
.contactbtn{
  border:none;
  background-color: rgb(209, 209, 243);
  border-radius: 5px;

}
.scrollbar-container.ps,
.scrollbar-container > .ps {
  &.ps--active-y > .ps__rail-y {
    width: 5px;
    background-color: transparent !important;
    z-index: 999;
    &:hover,
    &.ps--clicking {
      width: 5px;
      background-color: transparent;
    }
  }
  &.ps--scrolling-y > .ps__rail-y,
  &.ps--scrolling-x > .ps__rail-x {
    opacity: 0.4;
    background-color: transparent;
  }
}

/* ==============================|| ANIMATION KEYFRAMES ||============================== */

@keyframes wings {
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes slideY {
  0%,
  50%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}

@keyframes slideX {
  0%,
  50%,
  100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
}

/* ==============================|| ANIMATION KEYFRAMES ||============================== */
.preBuildDashBoard-slider {
  overflow: hidden;
  .slider {
    color:#6060e2;
    .slide {
      opacity: 0.5;
      display: flex;
      justify-content: center;
      .custom-slider {
        gap: 40px;
      }
      &.selected {
        opacity: 1;
        .custom-slider {
          display: flex;
          flex-direction: column;
        }
      }
      &:not(.selected) {
        transform: scale(0.7);
        transform-origin: top;
      }
    }
  }
}
.MuiBox-root{
  background-color: #eef2f6;
}
.mui-1hw29i9{
  background-color: rgb(255, 255, 255);
}
.horiline{
  z-index: 10;
  width: 100%;
  margin: 0;
  border: 1px solid rgba(182, 182, 182, 0.464);
}
.MuiList-root{background-color: white}
.MuiList-padding{  background-color: white;}
.mui-h4y409-MuiList-root{background-color: white}
.project-info {
  .project-slider {
    .slick-list {
      padding: 0 !important;
    }
  }
  .slick-slide {
    opacity: 0.05;
  }
  .slick-active {
    opacity: 0.2;
  }
}

.ril__inner {
  direction: ltr;
}

.ReactModal__Overlay {
  z-index: 99999 !important;
  color: #dce8ef;
}
.btnLink{
  width: 100%;
}
.colorInpt > *{
  width: 100%;
  height: 100%;
  padding: 0;
  margin:0
}
.onboardingLogo{
  width:50%;
  height:auto
}

.card1{
  display: none;
}
.card15{
  display: none;
}
.card2{
  display: none;
}
.card3{
  display: none;
}
.card4{
  display: none;
}

@media screen and (max-width: 800px) {
 .card0{
  flex-direction: column;
  justify-content: center;
  background-color: #dce8ef;
  align-items: center;
  gap: 10;
  height: 60%;
 }
 .card05{
  width: 80%;
  height: 40%;
  padding: 30px;
 }
 .logodiv{
  background-color: inherit;
 }
 .title{
  font-size: 20px;
  font-weight: 800px;
 }
 .titlepara{
  font-size: 13px;
 }
 .card0{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  gap:20px;

 }
 .card15{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  gap:20px;

 }
 .card1{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  gap:20px;

 }
 .card2{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  gap:20px;

 }
 .card3{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  gap:20px;

 }
 .card4{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  gap:20px;

 }
 .fields{
  width:80%;
  margin-top: 10px;
  height: 50%;
 }
 .inputfields{
  padding: 25px;
  width:95%
 }
 .admin{
  height: 60%;
 }

}
@media screen and (max-width: 1200px) 
{
  .small{
    display: none;
   }
   .smallData{
    display: flex;
    background-color: white;
    padding:20px;
    border-radius: 12px;
   }
}